<div class="container border text-center bg-light">
    <h1>
      <%= @article.title %>
    </h1>

  <div class="row">
  <div class="col-1 align-self-center"></div>

  <div class="text-center border col-10 bg-secondary">
    <div class="row">
      <div class="col-9 text-lefte text-left pt-4 pl-4 pr-4">
        <div class="pt-2">
        <p>
          Причины, почему коты метят территорию Наверняка кому-то может показаться, что кот везде метит просто
          из-за своей невоспитанности. Однако метки оставляются животным чаще всего по совсем иным причинам:
          Кот Кот метит в доме, объявляя войну за лидерство другим животным (обычно другим котам, реже - собакам).
          Оставляя потеки мочи то тут, то там, недружелюбно настроенный питомец просто хочет доказать собственное
          могущество своим конкурентам; Половая охота – еще одна из основных причин, почему коты метят.
          Запах течки у кошек самцы чувствуют отлично на большом расстоянии. Так что не стоит удивляться,
          что хвостатый повеса то и дело сбрызгивает мочой входную дверь, если по соседству живет течная кошка.
          Кот попросту хочет с помощью аромата своих меток призвать самку для спаривания; Бывает, что кот метит
          территорию из-за стресса, причем нет особой разницы, кастрирован питомец или же нет. Что может вызвать
          у животного стресс? Да много чего, например, переезд, смена владельца, плохое обращение кого-то из членов
          семьи, хронические болезни, сильный испуг, посещение кабинета ветврача; Иногда, метя территорию,
          котик просто пытается создать вокруг себя уютную атмосферу. Это владельцу не нравится запах мочи животного,
          а вот самому усатику он очень даже приятен. Так, некоторые самцы могут метить те уголки в доме,
          где проводят большую часть времени; В некоторых ситуациях самец метит углы, желая насолить своему хозяину.
          А наиболее мстительные питомцы могут оставлять метки даже на личных вещах своего владельца
          (на обуви, верхней одежде, сумке и пр.). Некоторые коты даже способны пометить самого хозяина!
        </p>
        </div>


        <div class="pt-2">
          <img class="rounded float-left img-thumbnail w-50 mr-2" src="https://www.sunhome.ru/i/wallpapers/202/lyubopitnii-kot-v3.orig.jpg"
               alt="[Кот]">
        <p>
          Каковы же причины обид животного на человека? О, их немало! Так, котик запросто может рассердиться
          на хозяина за подзатыльник или громкую ругань, за какие-либо запреты (например, запрет спать на
          подушке или воровать со стола); Некоторые коты метят постоянно в одних и тех же местах в доме,
          но есть и такие, которые орошают мочой исключительно предметы с посторонним запахом
          (например, доставленную из магазина бытовую технику или уличную обувь хозяина).
          Таким способом животные просто пытаются «перебить» чужой незнакомый запах; Скука – также одна из причин,
          по которым метят коты. Часто у занятых хозяев совсем не хватает времени для игр и общения со
          своими питомцами. Котик, который чувствует себя ненужным, может с помощью истошного мяуканья,
          плохого поведения (царапанье обоев, лазанье по шторам и т.п.) и меток привлекать к себе внимание
          владельца; Кастрация в 95% случаев избавляет котов от привычки оставлять на стенах, дверях и мебели
          свою мочу. Однако в 5% случаев кот метит после кастрации. Почему так происходит? Во-первых, первое
          время у животного попросту не в порядке гормональный фон. Во-вторых, причины меток могут крыться
          вовсе не в игре гормонов, а в том же стрессе. Ну а в-третьих, неопытные ветврачи порой делают
          кастрацию котам крипторхам – тем, у кого одно из яичек не опущено в мошонку. В результате операции
          удаляется лишь один семенник, тогда как другой, расположенный в паху или в брюшной полости, продолжает
          функционировать, выделяя половые гормоны. Так, вроде бы кастрированный (а на деле кастрированный неправильно)
          котик может продолжать желать спаривания с кошками. Когда у котов начинается период меток.
          Теперь разберемся, в каком возрасте коты начинают метить. Чаще всего период меток у самцов
          начинается во время полового созревания. У котов мелких и средних пород (манчкины, сингапуры,
          девон и корниш рексы и пр.) это 5-7 месяцев, а вот представители крупных пород (мейн-куны, пиксибобы,
          сибирские и британские кошки и пр.) созревают примерно к 10-12 месяцам. Но бывают и такие ситуации,
          когда метить в квартире впервые начинают усатики среднего возраста и даже коты-старички.
        </p>
        </div>

        <div class="pt-2">
        <p>
          Как отучить кота метить дома Если животное метит совсем редко (1-2 раза в год), то особых проблем у
          владельца вроде бы нет. А что делать, если кот метит ежедневно и многоразово? Некоторые особи
          способны в сутки оставлять до 20 меток на стенах, дверях, мебели. Вот какие меры может предпринять
          владелец, настрадавшийся от выходок ушастого кота-вредителя: Кот Любую метку (хоть свежую, хоть высохшую)
          необходимо устранять. Запах собственной мочи привлечет котика и заставит его пометить
          ту же поверхность снова. «Убить» запах мочи кота можно с помощью народных средств
          (водка, перекись водорода с содой, хозяйственное мыло, уксус, лимонный сок),
          но лучший эффект произведут специальные средства («Дезосан» и «Зоосан» от «ZooClean», «OdorGone»
          от «ChemtechInternational» и пр.); Места, которые чаще всего страдают от меток кота
          (например, комнатные углы), можно обрабатывать средствами с сильным ароматом, что неприятен
          для животных (эфирными маслами цитрусовых фруктов, лаванды, розмарина, мяты, спиртом, туалетной водой,
          нашатырем). На полу в местах «х» можно расставить небольшие емкости с табаком, молотым красным или
          черным перцем, корицей, шафраном, гвоздикой, сухой горчицей, сухим имбирем, кардамоном, карри
          или другими специями, которые обладают пряным резким запахом. В зоомагазинах можно приобрести
          препараты, которыми следует обрабатывать поверхности, которые чаще всего метят коты
          («Спрей Отучение гадить и метить» от «ЭКО Зоолекарь», «Антигадин» от «Химола», «NoMoreSpraying»
          от «8 in1» или др.); На полу, в тех местах, где кот привык оставлять метки, можно расстелить
          что-то шуршащее (фольгу, пупырчатую пленку, кальку). Как правило, животные не любят наступать
          на поверхности, издающие подобный звук; Как уже было упомянуто выше, в большинстве случаев кастрация
          может отучить кота от привычки метить все подряд. Причем лучше не тянуть с операцией,
          обратившись в клинику, когда питомец только войдет в фазу полового созревания. Если кастрированный
          кот метит территорию, то причину следует искать не в половом влечении к кошкам, а в чем-то другом;
          Чем меньше у котейки свободного времени, тем реже он ставит метки. Хозяин должен уделять своему
          усатому другу внимание ежедневно, играя с ним, лаская его. Котику можно купить разнообразные игрушки,
          с которыми он сможет проводить досуг, когда владельца не будет дома. Если питомцев в доме несколько,
          ни один из них не должен чувствовать себя заброшенным; Если причина меток кроется в стрессе, владельцу
          желательно выяснить, что же привело кота к эмоциональному подрыву. По возможности следует устранить
          причину стресса. Животному в такой непростой период можно давать успокоительные средства
          («Кот Баюн», «Фитэкс», «Фоспасим», «Стоп-стресс», «Амитриптилин» и пр.); А как отучить кота метить
          территорию, если он делает это назло владельцу? Требуется доказать зарвавшемуся питомцу,
          что главный в доме – человек. Как только кот поднимет хвост, чтобы пометить, скажем, дверь,
          владельцу следует одной рукой подхватить питомца за брюшко, другой – за холку, а затем приподнять
          его на уровень собственных глаз и устрашающе прошипеть. Такие воспитательные меры следует проводить
          всякий раз, когда кот пометит что-либо в квартире; Кота, который только что сделал метку,
          допустимо отругать. При этом громко кричать не обязательно, достаточно лишь использовать строгий
          осуждающий тон. Кроме того, кота можно несильно потеребить за ухо или щелкнуть ему пальцем по носу,
          но причинять боль животному нельзя ни в коем случае (т.е. не следует пинать кота, бить его тапком,
          швырять с высоты и т.п.); Коты ненавидят громкие звуки. И это может быть на руку владельцу,
          который пытается бороться с метками. Всякий раз, когда животное пометит, нужно свистеть в свисток.
          Только важно действовать сразу, как только был совершен проступок, дабы у кота выработалась связь
          «метка – громкий неприятный звук».
        </p>
        </div>

        <p>
          <%# @article.text %>
        </p>

      </div>
      <div class="col-3 pt-5">
        <h1>Author</h1>
        <img class="rounded mw-100" src="https://www.sunhome.ru/i/wallpapers/202/lyubopitnii-kot-v3.orig.jpg"
             alt="[Кот]">
        <h3>Zachoskin</h3>
      </div>
    </div>

    <%= link_to 'Edit', edit_article_path(@article) %> |
    <%= link_to 'Back', articles_path %>
  </div>

  <div class="col-1 align-self-center"></div>
</div>
</div>
